
.maze-row {
	font-size: 0;
}

.maze-cell {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 1px solid #bbb;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 10px;
}

.cell-type-2 {
	color: #fff;
	background-color: #333;
}

.maze-cell:hover {
	color: #000;
	background-color: #ccc;
}