<!doctype html>
<html ng-app="mazeApp">
<head>
	<meta charset="utf-8">
	<title>Maze App</title>

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="/css/vendor/draganddrop.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="/css/style.css" media="all"> -->
	<link rel="stylesheet" type="text/css" href="/css/style.min.css">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script> 
	<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
	<!-- <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
	<!-- <script type="text/javascript" src="/js/vendor/dragandrop.js"></script> -->
	<!-- <script type="text/javascript" src="/js/models.js"></script> -->
	<!-- <script type="text/javascript" src="/js/app.js"></script> -->
	<script type="text/javascript" src="/js/scripts.min.js"></script>

</head>
<body>
	<h3>What is this?</h3>
	<p>
		This is a port of an old school project I made in C++ originally. Its a basic maze builder.
		You can change cells to paths or walls by clicking on them. Then we can set a start and end
		point and have the maze solved with an optional animation setting.
	</p>

	<!-- Created maze-settings so I could learn about directives, and keep this index a little smaller -->
	<maze-settings></maze-settings>

	<div ng-controller="MazeCtrl">
		<h3>Maze</h3>
		<summary class="lead">
			A {{maze.rows}}x{{maze.columns}} maze<br>
			<small class="text-muted">Animation Speed: {{maze.animationDuration}} {{what}}</small>
		</summary>

		<div style="float:right">
			<p ng-repeat="log in logs track by $index">{{log}}</p>
		</div>
		<div class="maze-action">
			<button type="button" class="btn btn-primary btn-xs">Solve</button>
			<label for="">
				<input type="checkbox"> Animate?
			</label>
		</div>
		<div class="maze-row" ng-repeat="rows in maze.cells">
			<div class="maze-cell cell-type-{{cell.type}}" ng-repeat="cell in rows" ng-click="cellClicked(cell)">
				({{cell.row}}, {{cell.column}})<br>
				{{cell.type}}
				<div drop="cell" when-drop="changeType(data)" when-enter="previewCell(data)" when-leave="removeCellPreview(data)">
					<div ng-bind-html-unsafe="drop"></div>
				</div>
			</div>
		</div>

		<h3>Start / Stop</h3>
		<div ng-repeat="cellType in draggableCellTypes" drag="cell">
			<div class="maze-cell cell-type-{{cellType}}"></div>
		</div>

		<hr>

		<table class="table table-condensed maze-legend">
		<tr>
			<th colspan="2">Maze Cell Legend</th>
		</tr>
		<tr>
			<td><div class="maze-cell cell-type-1"></div></td>
			<td>Maze Path</td>
		</tr>
		<tr>
			<td><div class="maze-cell cell-type-2"></div></td>
			<td>Maze Wall</td>
		</tr>
		<tr>
			<td><div class="maze-cell cell-type-3"></div></td>
			<td>Maze Starting Cell</td>
		</tr>
		<tr>
			<td><div class="maze-cell cell-type-4"></div></td>
			<td>Maze Ending Cell</td>
		</tr>
	</div>

</body>
</html>